<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @score.title %>
</p>

<p>
  <strong>Index:</strong>
  <%= @score.index %>
</p>

<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
